doctype html
html(lang="en")
  head
    title 그룹채팅방 리스트
  body
    h1 
      a(href="/") 홈
    h2 그룹채팅
    ul
      each chatName, index in chatNameList
        li
          a(href=`/chatroom/${refinedIdList[index]}`)= chatName
